*{
	margin:0;
	padding: 0;
}

#header{
	max-width: 1140px;
	width:100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 1000;
}

#header-img{
	width: 30px;
	height: 30px;
}

#nav-bar ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#nav-bar ul li a{
	text-decoration: none;
}

main{
	margin-top: 50px;
}